In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd

In [2]:
# Q1
Data = [4,8,15,16,23,42]
Series = pd.Series(Data)
print(Series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
Var = [1,2,3,4,5,6,7,8,9,10]
Var_Series = pd.Series(Var)
print(Var_Series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
# Q3. Create a Pandas DataFrame that contains the following data:Then, print the DataFrame.
Data = {"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
Data_Frame = pd.DataFrame(Data)
print(Data_Frame)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [6]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
""" DataFrame = DataFrame is a Tabular format data which is given by the pandas after reading the data given as an input. On this data you can perform...
    various operations. DataFrame is a two-dimensional data structure with rows and columns, 
    Each column can hold data of a different type - numbers, text, dates, or even True/False values.
    This allows you to store diverse information within the same DataFrame.
    DataFrames are powerful because they let you manage and analyze large datasets efficiently.
    You can easily perform calculations, filter data, and create visualizations based on the information stored in the DataFrame.
    They make it much easier to work with complex data compared to using raw lists or dictionaries."""
    
""" Pandas Series = A Series is a one-dimensional array-like object.
    It's useful for representing a single column from a tabular dataset, all elements in a Series must be of the same data type.
    This could be integers, floats, text strings, boolean values (True/False), or even date/time data."""

" Pandas Series = A Series is a one-dimensional array-like object.\n    It's useful for representing a single column from a tabular dataset, all elements in a Series must be of the same data type.\n    This could be integers, floats, text strings, boolean values (True/False), or even date/time data."

In [7]:
# Example
# Imagine you have data on student names, ages, and exam scores. A Series could represent just the student names:
names = pd.Series(["Heera","Radha","Yash","Neha"])
print(names)

0    Heera
1    Radha
2     Yash
3     Neha
dtype: object

In [8]:
# A DataFrame, however, could hold all the information:

data = {"Name": ["Nidhi","Alisha","Akash","Amit"],
        "Age": [20, 22, 21, 19],
        "Exam Score": [85, 92, 78, 90]
       }

df = pd.DataFrame(data)
print(df)

     Name  Age  Exam Score
0   Nidhi   20          85
1  Alisha   22          92
2   Akash   21          78
3    Amit   19          90

In [9]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
""" There are various functions in Pandas Dataframe, some of them are .head(n), .tail(n) .
    .head(n) is used to see the first few rows of the dataframe, where n denotes the number of rows we need to see.
    .tail(n) is used to see the last few rows of the dataframe according to the value of n given."""

' There are various functions in Pandas Dataframe, some of them are .head(n), .tail(n) .\n    .head(n) is used to see the first few rows of the dataframe, where n denotes the number of rows we need to see.\n    .tail(n) is used to see the last few rows of the dataframe according to the value of n given.'

In [10]:
Data_Frame = pd.read_csv("services.csv")

In [11]:
Data_Frame.head(4)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN

In [12]:
Data_Frame.tail(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [13]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [14]:
# Series:

# Value Mutability: Yes. You can modify existing values within a Series using indexing and assignment.
# Size Mutability: No (directly). The number of elements in a Series cannot be directly changed. You need to create a new Series with the desired size.

# DataFrame:

# Value Mutability: Yes. You can modify existing values within cells, add new columns, or modify existing ones.
# Size Mutability: Yes. You can add or remove rows and columns.

# Panel:

# Value Mutability: Yes. You can modify values within the DataFrames contained in a Panel.
# Size Mutability: Yes. You can add, remove, or modify the DataFrames held by the Panel.

In [15]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [16]:
Name = pd.Series(['Alice', 'Reema', 'Maggi'])
Age = pd.Series([25, 30, 22])
City = pd.Series(['Morocco', 'Los Angeles', 'Zurich'])

data = {'Name': Name, 'Age': Age, 'City': City}

df = pd.DataFrame(data)

print(df)

    Name  Age         City
0  Alice   25      Morocco
1  Reema   30  Los Angeles
2  Maggi   22       Zurich